.about-section {
  overflow: hidden;
}

.profile-container {
  align-items: center;
  display: flex; 
  flex-direction: column;
  position: relative;
}

.left-climber {
  position: absolute;
  top: -17px;
  left: -9px;
  width: 280px;
  opacity: 0;
  z-index: 1;
}

.right-climber {
  position: absolute;
  right: -2px; 
  top: -10px;
  width: 240px;
  opacity: 0;
  z-index: 1;
}

.diamond-shape {
  position: relative;
}

.profile-pic {
  box-shadow: 0 0 12px 4px rgba(20, 20, 20, 0.74);
  border-radius: 50%;
  width: 220px;
  margin: 30px;
  position: relative;
  z-index: 4;
}

.body-copy {
  font-weight: 300;
  text-align: center;
  font-size: 1.4em;
  max-width: 700px;
  padding: 0px 30px;

    a {
      color: $brightBlue;
      text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 80%;
  margin: 20px auto;
}

.icon-header {
  margin-bottom: 0;
  font-size: 1.6em;
}

.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 30%;
}

.icon-copy {
  font-weight: 300;
  text-align: center;
  font-size: 1.4em;
}

.about-icon {
  position: absolute;
  width: 50px;
  top: 16px;
  left: 35px;
}

.fist-bump {
  width: 80px;
  top: 0px;
  left: 19px;
}

.fireworks {
  top: 20px;
}

//////Skills

.skills-container {
  margin-top: 20px;
  margin-bottom: -20px;
  width: 92vw;
}

.skills-row {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

@mixin skillLogo ($width, $height, $top, $left, $animation, $delay) {
  animation: $animation 1s ease $delay;   
  animation-fill-mode: both;  
  height: $height;
  left: $left;
  position: relative;
  top: $top;
  width: $width;
  margin: 20px;
}

.skills-row-2 {
  justify-content: space-between
}

.skills-container-animation {
  .html-logo {
    @include skillLogo(130px, 190px, 20px, 0px, slideInLeft, .1s)
  }
  
  .js-logo {
    @include skillLogo(130px, 190px, -40px, 0px, slideInLeft, .0s)
  }
  
  .css-logo {
    @include skillLogo(130px, 190px, 20px, 0px, slideInRight, .2s)
  }
  
  .sass-logo {
    @include skillLogo(160px, 150px, -70px, 0px, slideInLeft, .3s)
  }
  
  .react-logo {
    @include skillLogo(160px, 140px, -20px, 0px, rotateInRight, .4s);
    padding: 10px 0px 10px;
  }

  .rotate-react {
    animation: rotate 20s linear infinite;
  }

  .jquery-logo {
    @include skillLogo(150px, 150px, -70px, 0px, slideInRight, .5s)
  }
  
  .redux-logo {
    @include skillLogo(160px, 160px, -100px, 0px, slideInLeft, .6s);
    margin: 0 auto;
  }
  
  .photoshop-logo {
    @include skillLogo(130px, 130px, -73px, 0px, slideInRight, .7s);
    margin: 0 auto;
  }
  
  .node-logo {
    @include skillLogo(300px, 90px, -90px, 10px, slideInLeft, .8s);
    margin: 0 auto;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);  
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotateInRight {
  0% {
    opacity: 0;
    transform: translateX(350px) rotate(30deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}


///////BAR GRAPH

.bar {
  display: flex;
  width: 80vw;
  margin: 16px auto;
}

.bar-label {
  background-color: #28C2E4;
  border-radius: 3px 0px 0px 3px;
  width: 25%;
  padding: 4px;
  font-size: 1.3em;
  text-align: center;
}

.bar-background {
  background-color: $lightGrayBackground;
  border-radius: 0px 3px 3px 0px;
  height: 36px;
  position: relative;
  width: 75%;

  p {
    color: black;
    text-shadow: 1px 1px white;
    font-size: 1.3em;
    font-weight: 300;
    position: absolute;
    right: 2px;
    margin: 5px;
  }
}

.bar-fill {
  background-color: $darkBlue;
  border-radius: 0px 2px 2px 0px;
  position: absolute;
  height: 36px;
  left: 0px;
  width: var(--fill);
}

.drumset {
  margin-top: 40px;
  position: relative;
  right: 4px;
  width: 180px;
}

@media screen and (max-width: 740px) {
  .bar-label {
    font-size: 1em;
    min-width: 120px;
    padding-top: 4px;
  }
}

@media screen and (max-width: 675px) {
  .left-climber {
    width: 200px;
  }

  .right-climber {
    width: 180px;
  }

  .icon-group {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 500px) {
  .left-climber {
    width: 120px;
  }

  .right-climber {
    width: 90px;
  }

  .icon-container {
    flex-direction: column;
    align-items: center;
  }

  .icon-group {
    width: 100%;
    margin: 20px auto;
  }
}