.about-section {
  overflow: hidden;
}

.profile-container {
  align-items: center;
  display: flex; 
  flex-direction: column;
  position: relative;
}

.left-climber {
  position: absolute;
  top: -17px;
  left: -9px;
  width: 280px;
  opacity: 0;
  z-index: 1;
}

.right-climber {
  position: absolute;
  right: -2px; 
  top: -10px;
  width: 240px;
  opacity: 0;
  z-index: 1;
}

.diamond-shape {
  position: relative;
}

.profile-pic {
  box-shadow: 0 0 12px 4px rgba(20, 20, 20, 0.74);
  border-radius: 50%;
  width: 220px;
  margin: 30px;
  position: relative;
  z-index: 4;
}

.body-copy {
  font-weight: 300;
  text-align: center;
  font-size: 1.4em;
  max-width: 700px;
  padding: 0px 30px;

    a {
      color: $brightBlue;
      text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 80%;
  margin: 20px auto;
}

.icon-header {
  margin-bottom: 0;
  font-size: 1.6em;
}

.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 30%;
}

.icon-copy {
  font-weight: 300;
  text-align: center;
  font-size: 1.4em;
}

.about-icon {
  position: absolute;
  width: 50px;
  top: 16px;
  left: 35px;
}

.fist-bump {
  width: 80px;
  top: 0px;
  left: 19px;
}

.fireworks {
  top: 20px;
}

//////Skills

.skills-container {
  margin-top: 20px;
  margin-bottom: -20px;
  width: 80%;
}

.skills-row {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.skill-logo {
  transition: all .3s ease;
}

@mixin skillLogo ($width, $height, $top, $left, $animation, $delay) {
  animation: $animation 1s ease $delay;   
  animation-fill-mode: both;  
  height: $height;
  left: $left;
  position: relative;
  margin: 20px;
  top: $top;
  width: $width;
}

.skills-row-2 {
  justify-content: space-between
}

.skills-container-animation {
  .html-logo {
    @include skillLogo(110px, 160px, 20px, 0px, slideInLeft, .1s)
  }
  
  .js-logo {
    @include skillLogo(110px, 160px, -40px, 0px, slideInLeft, .0s)
  }
  
  .css-logo {
    @include skillLogo(110px, 160px, 20px, 0px, slideInRight, .2s)
  }
  
  .sass-logo {
    @include skillLogo(160px, 150px, -70px, 0px, slideInLeft, .3s)
  }
  
  .react-logo {
    @include skillLogo(160px, 140px, -20px, -15px, rotateInRight, .4s);
    padding: 10px 0px 10px;
  }

  .rotate-react {
    animation: rotate 20s linear infinite;
  }

  .jquery-logo {
    @include skillLogo(130px, 130px, -70px, 0px, slideInRight, .5s)
  }
  
  .redux-logo {
    @include skillLogo(145px, 145px, -100px, 0px, slideInLeft, .6s);
    margin: 0 auto;
  }
  
  .photoshop-logo {
    @include skillLogo(115px, 115px, -73px, 0px, slideInRight, .7s);
    margin: 0 auto;
  }
  
  .router-logo {
    @include skillLogo(250px, 150px, -90px, 0px, slideInLeft, .8s);
    margin: 0 auto;
  }
}

.drumset {
  margin-top: 40px;
  position: relative;
  right: 4px;
  width: 180px;
}

@media screen and (max-width: 940px) {
  .skills-container-animation {

    .skills-row-2 {
      position: relative;
      justify-content: center;
      margin-top: 160px;
      margin-bottom: 30px;
    }
    .react-logo {
      position: absolute;
      left: auto;
      top: -190px;
      padding: 0px;
      margin: 0px;
    }

    .jquery-logo {
      top: -50px;
    }

    .skills-row-3 {
      justify-content: center;

      .skill-logo {
        margin: 25px;
      }
    }

    .node-logo {
      left: 0px;
    }
  }
}

@media screen and (max-width: 740px) {
  .bar-label {
    font-size: 1em;
    min-width: 120px;
    padding-top: 4px;
  }
}

@media screen and (max-width: 675px) {
  .left-climber {
    width: 200px;
  }

  .right-climber {
    width: 180px;
  }

  .icon-group {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 500px) {
  .left-climber {
    width: 120px;
  }

  .right-climber {
    width: 90px;
  }

  .icon-container {
    flex-direction: column;
    align-items: center;
  }

  .icon-group {
    width: 100%;
    margin: 20px auto;
  }

  .skills-container-animation {

    .skills-row-2 {
      margin-top: 110px;
    }

    .js-logo,
    .css-logo,
    .html-logo {
      height: 100px;
      width: 70px;
    }

    .react-logo {
      height: 80px;
      width: 92px;
      top: -140px;
    }

    .sass-logo {
      height: 120px;
      width: 120px;
    }

    .jquery-logo {
      height: 100px;
      width: 100px;
    }

    .redux-logo {
      height: 120px;
      width: 120px;
    }

    .photoshop-logo {
      height: 90px;
      width: 90px;
    }

    .node-logo {
      height: 70px;
      width: 240px;
    }
  }
}