.connect {
  background-color: $darkBackground;
  height: 418px;
  overflow: hidden;
  position: relative;
}

.connect-header {
  padding-top: 30px;
}

.copyright {
  font-weight: 300;
  margin-bottom: 60px;
  position: relative;
  text-shadow: 1px 1px black;
  z-index: 1;
}

.header-color-2 {
  color: $mainPurple
}

.social-icon-container {
  display: flex;
  height: 130px;
  margin: 40px;
  position: relative;
  z-index: 1;
}

.social-box {
  background-color: $lessDarkBackground;
  border-radius: 10px;
  height: 30px;
  overflow: hidden;
  margin: 20px;
  padding: 30px;
  position: relative;
  transition: all .3s ease;
  width: 33px;

  &:hover .social-icon {
    cursor: pointer;
    color: white;
    transform: scale(1.12);
  }

  &:hover::after {
    cursor: pointer;
    transform: rotate(45deg) translate(-110px, -40px);
  }

  &:after {
    content: '';
    height: 200px;
    position: absolute;
    transform: rotate(45deg) translate(-150px, 160px);
    transition: all .4s ease;
    width: 200px;
  } 
}

.github-box:after {
  background-color: rgb(235, 163, 67);
}

.email-box:after {
  background-color: rgb(101, 190, 101);
}

.linkedIn-box:after {
  background-color: #0077B5;
}

.social-icon {
  font-size: 2.2em;
  position: absolute;
  right: 29px;
  top: 25px;
  transition: all .2s ease;
  z-index: 13;
}

.github {
  color: rgb(235, 163, 67);
}

.linkedIn {
  color: #0077B5;
}

.email {
  color: rgb(101, 190, 101);
}

.clipboard-notification {
  align-items: center;
  background-color: rgb(101, 190, 101);
  display: flex;
  font-size: 1.4em;
  font-weight: 300;
  height: 90px;
  left: 0px;
  justify-content: center;
  position: absolute;
  top: 0px;
  transition: all .4s ease;
  width: 93px;
  z-index: 13;

  &:after {
    content: '';
  }

  &:hover {
    cursor: pointer;
  }
}

.snowboarder {
  animation: snowboarder 14s linear 0s infinite;
  bottom: 0;
  left: 630px;
  position: absolute;
  transform: rotate(6deg) translateX(-300px);
  width: 150px;
}

.snowboarder2 {
  animation: snowboarder2 14s linear 6s infinite;
  bottom: 0;
  left: 630px;
  opacity: 0;
  position: absolute;
  transform: rotate(26deg) translateX(-300px);
  width: 150px;
}

.snow-hill1 {
  @include snowHill(500px,160px,-260px,30deg);
}

.snow-hill2 {
  @include snowHill(700px,360px,160px,15deg);
}

.snow-hill3 {
  @include snowHill(1000px,400px,560px,2deg);
}

@media screen and (max-width: 560px) {
  .social-icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .copyright {
    display: none;
  }
}

