nav {
  background-color: #141A1D;
  border-bottom: 2px solid $mainPurple;
  display: flex;
  flex-direction: flex-start;
  padding: 6px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 12;

  .nav-item {
    font-size: 1.6em;
    margin: 7px 20px;
    transition: all .3s ease;

    &:hover {
      color: $mainPurple;
      cursor: pointer;
    }
  }

  .highlight {
    color: $mainPurple;
  }

  .hamburger-menu {
    display: none;
    font-size: 2.2em;
    margin-right: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 630px) {
  nav {
    display: flex;
    justify-content: flex-end;

    .hamburger-menu {
      display: block;
    }

    .nav-item {
      display: none;
    }
  }
}