.portfolio-section {
  padding-top: 30px;
  background-color: $lessDarkBackground;
  width: 100%;

  .projects-container {
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, 366px);
    justify-content: center;
    width: 80%;
    margin: 40px auto;
  }

  .project-item {
    background-size: cover;
    height: 300px;
    width: 366px;
  }
}
