@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600");
.none {
  opacity: 0;
}
.none:after {
  content: "scroll";
  opacity: 1;
}

.section-header-animation {
  animation: slideInLeft 1s ease;
  animation-fill-mode: both;
}

.header-line-animation {
  animation: slideInLeft 1s ease 0.2s;
  animation-fill-mode: both;
}

.left-climber-animation {
  animation: slideInLeft 1.3s ease;
  animation-fill-mode: both;
}

.right-climber-animation {
  animation: slideDown 1.2s ease 0.1s;
  animation-fill-mode: both;
}

.profile-container-animation {
  animation: fadeIn 2s ease 0.4s;
  animation-fill-mode: both;
}

.icon-container-animation .icon1 {
  animation: rotateIn 550ms linear 0.1s;
  animation-fill-mode: both;
}
.icon-container-animation .icon-copy1,
.icon-container-animation .icon-header1 {
  animation: fadeIn 1s linear 0.5s;
  animation-fill-mode: both;
}
.icon-container-animation .icon2 {
  animation: rotateIn 550ms linear 0.2s;
  animation-fill-mode: both;
}
.icon-container-animation .icon-copy2,
.icon-container-animation .icon-header2 {
  animation: fadeIn 1s linear 0.7s;
  animation-fill-mode: both;
}
.icon-container-animation .icon3 {
  animation: rotateIn 550ms linear 0.3s;
  animation-fill-mode: both;
}
.icon-container-animation .icon-copy3,
.icon-container-animation .icon-header3 {
  animation: fadeIn 1s linear 0.9s;
  animation-fill-mode: both;
}

.graph-container-animation .bar .bar-label {
  animation: slideInLeft 0.8s ease;
  animation-fill-mode: both;
}
.graph-container-animation .bar .bar-background {
  animation: slideInRight 0.8s ease;
  animation-fill-mode: both;
}
.graph-container-animation .bar .bar-background .bar-fill {
  animation: barfill 1s ease 0.6s;
  animation-fill-mode: both;
}
.graph-container-animation .bar .bar-background p {
  animation: fadeIn 1.5s ease 0.8s;
  animation-fill-mode: both;
}

.drumset-animation {
  animation: bounceUp 450ms linear;
  animation-fill-mode: both;
}

.smash-project-animation {
  animation: slideUp 0.7s ease 0s;
  animation-fill-mode: both;
}

.wheel-project-animation {
  animation: slideUp 0.7s ease 0.4s;
  animation-fill-mode: both;
}

.animate-project-animation {
  animation: slideUp 0.7s ease 0.2s;
  animation-fill-mode: both;
}

.popup-animation {
  animation: slideUpPopup 0.6s ease;
  animation-fill-mode: both;
}

.slideOutLeft {
  position: absolute;
  animation: slideInLeftImg 0.4s linear 0s reverse;
}

.slideOutRight {
  position: absolute;
  animation: slideInRightImg 0.4s linear 0s reverse;
}

.slideInLeft {
  position: absolute;
  animation: slideInLeftImg 0.4s linear 0s;
}

.slideInRight {
  position: absolute;
  animation: slideInRightImg 0.4s linear 0s;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-350px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes barfill {
  0% {
    width: 0%;
  }
  100% {
    width: var(--fill);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(350px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideUpPopup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounceAppear {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.03);
  }
  80% {
    opacity: 1;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  50% {
    opacity: 0.9;
    transform: rotateY(-10deg);
  }
  80% {
    opacity: 1;
    transform: rotateY(2deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes bounceUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 0.9;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideInRightImg {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideInLeftImg {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}
.landing-page {
  display: flex;
  height: 100vh;
  justify-content: center;
}
.landing-page .canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #212632;
}
.landing-page #canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.landing-page .landing-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35vh;
  position: absolute;
}
.landing-page .landing-container h1 {
  font-weight: 400;
  font-size: 3em;
  margin: 5px;
}
.landing-page .landing-container .intro-1 {
  animation: fadeIn 1.5s ease 0.6s;
  animation-fill-mode: both;
}
.landing-page .landing-container .landing-span {
  animation: fadeIn 1.5s ease 1.4s;
  animation-fill-mode: both;
}
.landing-page .landing-container .intro-2-container {
  display: flex;
}
.landing-page .landing-container .line2-1 {
  animation: bounceAppear 0.5s ease 2.3s;
  animation-fill-mode: both;
}
.landing-page .landing-container .line2-2 {
  animation: bounceAppear 0.5s ease 2.5s;
  animation-fill-mode: both;
}
.landing-page .landing-container .line2-3 {
  animation: bounceAppear 0.5s ease 2.7s;
  animation-fill-mode: both;
}
.landing-page .landing-container .line2-4 {
  animation: bounceAppear 0.5s ease 2.9s;
  animation-fill-mode: both;
}
.landing-page .landing-container .line2-5 {
  animation: bounceAppear 0.5s ease 3.1s;
  animation-fill-mode: both;
}
.landing-page .landing-container .line2-6 {
  animation: bounceAppear 0.5s ease 3.3s;
  animation-fill-mode: both;
}
.landing-page .landing-container .line2-7 {
  animation: bounceAppear 0.5s ease 3.5s;
  animation-fill-mode: both;
}
.landing-page .landing-button {
  animation: slideInLeft 0.7s ease 4.4s;
  animation-fill-mode: both;
}
.landing-page .header-color-2 {
  color: #9F68FF;
}

.button {
  background: none;
  border: 3px solid white;
  color: white;
  font-family: "Raleway", sans-serrif;
  font-weight: 300;
  font-size: 1.4em;
  padding: 10px 14px;
  margin: 20px;
  transition: all 0.3s;
}
.button .right-arrow {
  position: relative;
  top: 2px;
  left: 4px;
  width: 22px;
  transition: all 0.3s;
}
.button:hover {
  background-color: #196096;
  border-color: #196096;
  cursor: pointer;
}
.button:hover .right-arrow {
  transform: rotate(90deg);
}

nav {
  background-color: #141A1D;
  border-bottom: 2px solid #9F68FF;
  display: flex;
  flex-direction: flex-start;
  padding: 6px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 12;
}
nav .nav-item {
  font-size: 1.6em;
  margin: 7px 20px;
}
nav .nav-item:hover {
  color: #9F68FF;
  cursor: pointer;
}

.about-section {
  overflow: hidden;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-climber {
  position: absolute;
  top: -2px;
  left: -9px;
  width: 280px;
  opacity: 0;
}

.right-climber {
  position: absolute;
  right: -65px;
  top: -1px;
  width: 280px;
  opacity: 0;
}

.diamond-shape {
  position: relative;
}

.profile-pic {
  border-radius: 50%;
  width: 280px;
  margin: 30px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 80%;
  margin: 20px auto;
}

.icon-header {
  margin-bottom: 0;
  font-size: 1.6em;
}

.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.icon-copy {
  font-weight: 300;
  text-align: center;
  font-size: 1.4em;
}

.about-icon {
  position: absolute;
  width: 50px;
  top: 16px;
  left: 35px;
}

.fist-bump {
  width: 80px;
  top: 0px;
  left: 19px;
}

.fireworks {
  top: 20px;
}

.bar {
  display: flex;
  width: 80vw;
  margin: 16px auto;
}

.bar-label {
  background-color: #28C2E4;
  border-radius: 3px 0px 0px 3px;
  width: 25%;
  padding: 4px;
  font-size: 1.3em;
  text-align: center;
}

.bar-background {
  background-color: #ECECEC;
  border-radius: 0px 3px 3px 0px;
  height: 36px;
  position: relative;
  width: 75%;
}
.bar-background p {
  color: black;
  font-size: 1.3em;
  font-weight: 300;
  position: absolute;
  right: 2px;
  margin: 5px;
}

.bar-fill {
  background-color: #196096;
  border-radius: 0px 2px 2px 0px;
  position: absolute;
  height: 36px;
  left: 0px;
  width: var(--fill);
}

.drumset {
  margin-top: 40px;
  position: relative;
  right: 4px;
  width: 180px;
}

.portfolio-section {
  padding-top: 30px;
  background-color: #32394B;
  width: 100%;
}
.portfolio-section .projects-container {
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, 366px);
  justify-content: center;
  width: 80%;
  margin: 40px auto;
}
.portfolio-section .project-item {
  background-size: cover;
  height: 300px;
  width: 366px;
}
.portfolio-section .project-item h2 {
  font-size: 2.4em;
  font-weight: 500;
  transform: translateY(-300px);
  transition: all 0.3s ease;
}
.portfolio-section .project-item h3 {
  font-size: 1.4em;
  font-weight: 300;
  color: #9F68FF;
  position: relative;
  top: -30px;
  transform: translateY(-300px);
  transition: all 0.3s ease;
}
.portfolio-section .project-item .learn-more-btn {
  position: relative;
  top: 10px;
  transform: translateY(300px);
}
.portfolio-section .project-item .white-background {
  opacity: 0;
  background-color: #212632;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  overflow: hidden;
  width: 366px;
  transition: all 0.5s ease;
}
.portfolio-section .project-item:hover .white-background {
  opacity: 0.97;
}
.portfolio-section .project-item:hover h3, .portfolio-section .project-item:hover h2, .portfolio-section .project-item:hover .learn-more-btn {
  transform: translate(0);
}

.hide {
  display: none;
}

.project-popup {
  position: fixed;
  right: calc(50vw - 300px);
  top: 80px;
  width: 600px;
  box-shadow: 0 0 12px 4px rgba(20, 20, 20, 0.74);
  overflow: hidden;
  z-index: 99;
}
.project-popup .popup-img-container {
  overflow: hidden;
  height: 383px;
}
.project-popup img {
  width: 600px;
}
.project-popup .arrow {
  background-color: #196096;
  position: absolute;
  top: 350px;
  transition: all 0.4s ease;
  width: 23px;
}
.project-popup .arrow:hover {
  cursor: pointer;
  background-color: #0AD3FF;
}
.project-popup .right-arrow {
  border-radius: 4px 0 0 0;
  padding: 5px 3px 5px 8px;
  right: 0px;
}
.project-popup .left-arrow {
  border-radius: 0 4px 0 0;
  padding: 5px 8px 5px 3px;
  left: 0px;
}
.project-popup .popup-content-container {
  background-color: #ECECEC;
  color: black;
  margin-top: -10px;
  padding: 16px 10px 8px;
  overflow: hidden;
}
.project-popup .popup-content-container .popup-underline {
  background-color: #aaaaaa;
  height: 1px;
  width: 270px;
}
.project-popup .popup-content-container h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.8em;
}
.project-popup .popup-content-container .popup-button {
  font-size: 1em;
  border-width: 2px;
  color: black;
  border-color: black;
  margin: 3px;
  padding: 5px;
}
.project-popup .popup-content-container .popup-button a {
  color: black;
  text-decoration: none;
  transition: all 0.4s ease;
}
.project-popup .popup-content-container .popup-button:hover {
  color: white;
  border-color: #0AD3FF;
  background-color: #0AD3FF;
}
.project-popup .popup-content-container .popup-button:hover a {
  color: white;
}
.project-popup .popup-content-container .x-button {
  animation: none;
  border: 2px solid black;
  border-radius: 50%;
  float: right;
  font-size: 1em;
  padding: 5px 8px;
  position: relative;
  transition: all 0.4s ease;
  top: 8px;
}
.project-popup .popup-content-container .x-button:hover {
  color: white;
  cursor: pointer;
  border-color: #0AD3FF;
  background-color: #0AD3FF;
}

body {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: #212632;
  margin: 0;
  z-index: 50;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.678);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease;
  z-index: 40;
}

section,
.section-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0px auto;
}

.about-header-container {
  margin: 60px auto 20px;
}

.section-header {
  font-weight: 500;
  font-size: 2.2em;
  margin: 12px;
}

.header-line {
  background-color: #ECECEC;
  height: 3px;
  width: 60px;
}

.body-copy {
  font-weight: 300;
  text-align: center;
  font-size: 1.4em;
  max-width: 700px;
}
.body-copy a {
  color: #0AD3FF;
}
.body-copy a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
