@import './animations';
@import './vars';
@import './landing';
@import './buttons';
@import './nav';
@import './about';
@import './portfolio';
@import './connect';
@import './talks';

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: $darkBackground;
  margin: 0;
  overflow-x: hidden; 
  z-index: 50;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.678);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .4s ease;
  z-index: 40;
}

section,
.section-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0px auto;
}

.about-header-container {
  margin: 60px auto 20px;
}

.section-header {
  font-weight: 500;
  font-size: 2.2em;
  margin: 12px;
}

.header-line {
  background-color: $lightGrayBackground;
  height: 3px;
  width: 60px;
}

.body-copy {
  font-weight: 300;
  text-align: center;
  font-size: 1.4em;
  max-width: 700px;

    a {
      color: $brightBlue;
      text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}