@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');

$headerBackground: #141A1D;
$darkBackground: #212632;
$lessDarkBackground: #32394B;
$lightGrayBackground: #ECECEC;
$mainPurple: #9F68FF;
$darkBlue: #196096;
$brightBlue: #0AD3FF;

@mixin line2Bounce($delay) {
  animation: bounceAppear .5s ease $delay; 
  animation-fill-mode: both;
}

@mixin snowHill($width, $top, $left, $deg) {
  height: 600px;
  background-color: white;
  left: $left;
  position: absolute; 
  top: $top;
  transform: rotate($deg);
  width: $width;
}

